*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
    color: #A237F2;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    align-items: center;
    gap: 15px;
}
.mylearning{
    position: relative;
}
.menubar{
    display: none;
}
.mylearning__popup{
    border: solid black 1px;
    background-color: white;
    width: 80px;
    height: 60px;
    padding: 10px;
    padding-left: 5px;
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
}
.mylearning:hover{
    cursor: pointer;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.navbar__s3 i:hover{
    cursor: pointer;
}
.navbar__s3 p:hover{
    cursor: pointer;
    font: bold;
}

/* categories*/
.categories{
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: #B051F0;
    color: white;
    padding: 5px;
    margin: 7px;
    border-radius: 30px;
    border: black solid 1px;
}
.categories p:hover{
    cursor: pointer;
    font-weight: bolder;
    background-color: transparent;
    color: #B051F0;
    transition: 1s;
}

/* image section*/

.sale-image img{
    width: 100%;  /* to fit image in screen*/
    
}
.sale-image{
    position: relative;
}
.sale-image__offer{
    border: solid black 2px;
    width: 35%;
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 1%;
    background-color: white;
    animation-name: zoom;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);   
    }
}

/* recommended section*/
.recommended{
    margin-top: 5px;
    padding: 5px;
}
.recommended__container{
    margin-top: 10px; 
    display: flex; 
    flex-wrap: wrap; /* used so tat wen minimize window it looks good  */
    justify-content: space-around;  
}
.coursecard{
    flex-grow: 1;
    flex-basis: 20%; 
    margin: 10px;
}
.coursecard img{
    width: 90%;  
}

/*topic section*/
.topics{
    padding: 5px;
}
.topics__title{
    display: flex; 
    flex-wrap: wrap;     
}
.topics__title p{
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    flex-grow: 1; 
    flex-basis: 25%; /*when we minimize tab still it shows 3 in a line*/
}
.topics__title p:hover{
    border: solid black 3px;
    cursor: pointer;
    font-weight: bolder;
}

/* most popular*/
.popular{
    padding: 5px;
    margin: 5px;
}
.popular__container{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.popular__coursecard{
    flex-grow: 1;
    flex-basis: 20%; 
    margin: 10px;

}
.popular__coursecard img{
    width: 100%;
}

/*footer*/
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    gap: 30px;
}
.footer__one p{
    margin: 10px;
}
.footer__two{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.footer__titles1 p:hover{
    font-weight: bolder;
    color: aqua;
    cursor: pointer;
}
.footer__titles2 p:hover{
    font-weight: bolder;
    color: aqua;
    cursor: pointer;
}
@media screen and (max-width:800px) {
    .categories{
        display: none;
    }
}
@media screen and (max-width:800px) {
    body{
       font-size: 12px; 
    }
}
@media screen and (max-width:660px) {
    .menubar{
        display: block;
    }
    .navbar__s3{
        display: none;
    }
    .navbar__s2{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .coursecard{
        flex-basis: 40%;
    }
}
@media screen and (max-width:600px) {
    .popular__coursecard{
        flex-basis: 40%;
    }
}